@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<section class="section">
    <div class="container clearfix centered">
        <div class="col-lg-12">
            <h3>Please check your email to reset your password.</h3>
            <div class="head-underline"> </div>
        </div>
    </div>
</section>

	
