
@model VHS.Services.ViewModel.BookingConfirmation
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <title>Velvett Homestays</title>
</head>

<body>
    <div>
        <p>Dear @Model.UserName</p><br />
        <p>Thank you for considering Velvett Homestays for your upcoming travel plans. We are delighted that you are looking to experience the homestay life. Be prepared to have nothing less than a unique experience with us.</p>
        <br />
        <p>We at Velvett Homestays don't believe in just visiting a place, but leaving with a sense of belonging. You will have the same freedom you would enjoy at your second home. From understanding the local culture, food, activities to living moments one would struggle to find at a hotel</p><br />
        <p>
            Our travelogists have already begun working on your request for @Model.Property  during the period of @Model.StartDate to @Model.EndDate  and will get back to you within 48 hours. Should you have any changes or further queries, please feel free to email velvetthomestays@vikasgroup.com.
        </p><br />
        <p>
            We look forward to having you on board with us!
        </p>
        <br /><br />
        <p>
            The Travelogists Team<br />
            VELVETT HOMESTAYS
        </p>
    </div>
</body>
</html>