
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="intro dark section">
    <div class="overlay">
        <div id="headline_cycler">
            <div class="headline_cycler_centralizer">
                <h1>Huge Bear</h1>
                <p class="uppercase">Norway</p>
            </div>
        </div>
    </div>
    <a href="#section2" data-title="" id="arrow-down" class="aligncenter">Get started</a>
</section>
<section class="section bordered" id="section2">
    <div class="container clearfix padding-20">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim. Praesent sit amet massa suscipit, auctor sapien non, egestas felis. Maecenas mattis aliquet est vitae dignissim. Suspendisse aliquam lacus mauris, id placerat felis faucibus quis. Suspendisse potenti. Etiam mattis, eros id porta iaculis, nisl purus dapibus leo, a lacinia tellus nunc sed nunc. </p>
            <blockquote class="clearfix centered">
                <div class="borderline top"></div>
                <div class="questionmark">&rdquo;</div>
                <p>Our expectations were absolutely surpassed. We are so glad we chose Peekskill for our new project. </p>
                <p class="small">John Doe, CEO</p>
                <div class="borderline"></div>
            </blockquote>
            <p>Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim. Praesent sit amet massa suscipit, auctor sapien non, egestas felis. Maecenas mattis aliquet est vitae dignissim. Suspendisse aliquam lacus mauris, id placerat felis faucibus quis. </p>
            <div class="tiny-break"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border-left-wrapper">
            <p> <strong> Category</strong> <span class="alignright">Photography</span></p>
            <p> <strong> Client</strong> <span class="alignright">Apple Inc.</span></p>
            <div class="borderline"></div>
            <p class="alignleft"> <strong> Share</strong></p>
            <ul class="social-list alignright clearfix">
                <li> <a href="#"><i class="fa fa-pinterest-p"></i></a> </li>
                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</section>
<section class="section custom-pagination">
    <div class="container clearfix">
        <div class="col-lg-12">
            <p class="large alignleft">Related Projects</p>
            <a class="button alignright" href="index.html"><i class="fa fa-th"></i> Overview</a>
        </div>
    </div>
</section>
<div id="container" class="clearfix no-margin">
    <div class="element  clearfix col-lg-6 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            <a href="#" data-title="">
                <figure class="images"> <img src="images/photography/nature20.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Fresh Salmon</h2>
                                <p class="uppercase">Norway</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="element  clearfix col-lg-6 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            <a href="#" data-title="">
                <figure class="images"> <img src="images/photography/nature03.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Video</h2>
                                <p class="uppercase">Sweden</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

