
@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="section">
    <div style="/* or absolute */top: 50%;left: 50%;">
        <marquee><span style="color:red">Comming Soon.....</span> </marquee>
    </div>
</section>

