
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="section">
    <div class="row">
        <div class="col-md-12">
            <h2>Recently added Properties</h2>
            <div class="partialContents" id="divApprovedProperty" data-url="/Admin/GetApprovedProperty">
                <div class="txt-center" style="margin:9% !important"><img src="~/Images/indicator.white.gif" /> Loading ...</div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="row">
        <div class="col-md-12">
            <h2>Recently booked Properties</h2>
            <div class="partialContents" id="divBookedProperty" data-url="/Admin/GetBookedProperty">
                <div class="txt-center" style="margin:9% !important"><img src="~/Images/indicator.white.gif" /> Loading ...</div>
            </div>
        </div>
    </div>
</div>




