
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="section">
    <div class="row">
        <div class="col-md-12">
            <h2>Recently added Properties</h2>
            <div class="col-md-3">
                <h3>Property Name</h3>
                <p>Short Info</p>
                <p><img src="~/Images/fullscreen02.jpg" width="250" alt="" /></p>
            </div>
            <div class="col-md-3">
                <h3>Property Name</h3>
                <p>Short Info</p>
                <p><img src="~/Images/fullscreen02.jpg" width="250" alt="" /></p>
            </div>
            <div class="col-md-3">
                <h3>Property Name</h3>
                <p>Short Info</p>
                <p><img src="~/Images/fullscreen02.jpg" width="250" alt="" /></p>
            </div>
            <div class="col-md-3">
                <h3>Property Name</h3>
                <p>Short Info</p>
                <p><img src="~/Images/fullscreen02.jpg" width="250" alt="" /></p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="col-md-12">
            <h2>Recently booked Properties</h2>
            <div class="col-md-3">
                <h3>Property Name</h3>
                <p>Short Info</p>
                <p><img src="~/Images/fullscreen02.jpg" width="250" alt="" /></p>
            </div>
            <div class="col-md-3">
                <h3>Property Name</h3>
                <p>Short Info</p>
                <p><img src="~/Images/fullscreen02.jpg" width="250" alt="" /></p>
            </div>
            <div class="col-md-3">
                <h3>Property Name</h3>
                <p>Short Info</p>
                <p><img src="~/Images/fullscreen02.jpg" width="250" alt="" /></p>
            </div>
            <div class="col-md-3">
                <h3>Property Name</h3>
                <p>Short Info</p>
                <p><img src="~/Images/fullscreen02.jpg" width="250" alt="" /></p>
            </div>
        </div>
    </div>
</div>

