@model  VHS.Services.Models.BlakOutDate
@using (Html.BeginCollectionItem("BlackOutDate"))
{

    <label class="sm-label">From</label>
    @Html.TextBoxFor(m => m.StartDate)
    <label class="sm-label">To</label>
    @Html.TextBoxFor(m => m.EndDate)
}
