
@{
    ViewBag.Title = "AddProperty";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="home" class="tab-pane fade in active">
    <div class="partialContents" id="divPropertyGeneralInfo" data-url="/ManageProperty/GetPropertyGeneralInfo/0">
        <div class="txt-center" style="margin:9% !important"><img src="~/Images/indicator.white.gif" /> Loading ...</div>
    </div>
</div>

