
<h3>Transfer Property to other RM</h3>
<p class="sub-heading"><span class="error-msg">some error occured</span></p>
<div class="col-lg-6 col-md-6">
    <form class="form-part" method="post" action="profileform.php" name="profileform" id="profileform" autocomplete="off">
        <label>Current RM</label>
        <input name="username" value="RM001212" type="text" id="username" size="30" title="RM001212" disabled />
        <label class="full-label">Select new RM<span class="required">*</span></label>
        <select>
            <option value="0">select</option>
            <option value="">RM012144</option>
            <option value="">RM012166</option>
        </select>
        <div style="clear:both;"></div>
        <div class="input-wrapper clearfix">
            <input type="submit" class="send-btn" value="Transfer" id="" name="" />
            <input type="reset" class="send-btn" value="Cancel" id="" name="" />
        </div>
    </form>
</div>