@model VHS.Services.Models.PropertyGallaryPhoto
@using Newtonsoft.Json
@using (Ajax.BeginForm("PropertyGallaryPhoto", "ManageProperty", new AjaxOptions { HttpMethod = "POST" }, new { id = "frmGallaryPhoto", enctype = "multipart/form-data" }))
{
    <div style="clear:both;"><br /><br /></div>
    <label>Add Property Images to gallery<span class="required">*</span></label>
    <div id="divGallaryView" class="property-gallery">
        <div>
            @if (Model != null && Model.imageGalaryPhoto != null)
            {
                foreach (var item in Model.imageGalaryPhoto)
                {
                    <img id="image" src="~/UploadFile/PropertyGallary/@item.ImageName" />
                    <br />
                }
            }
        </div>
    </div>
    <div id="divGallaryPreview" style="display:none" class="property-gallery">
        <img id="imageGallary" />
    </div>
    @Html.HiddenFor(m => m.PropertyId)
    @Html.TextBoxFor(m => m.GallaryPhoto, new { type = "file", multiple = "multiple" })
    <span style="color:red">
        @Html.ValidationMessageFor(m => m.GallaryPhoto)
    </span><br />
    <div style="clear:both;"></div>
    <div class="input-wrapper clearfix">
        <input type="submit" class="send-btn" id="btnGallaryPhoto" value="Update" onclick="CallFunction()"  name="" />
        <input type="button" class="send-btn" onclick="ShowGallaryView()" value="Cancel" id="" name="" />
        <p id="imgLoaderGallaryPhoto" style="color:green;display:none"><img src="~/Images/l2.gif" />please wait....</p>
    </div>

}
<div class="progress" style="display:none" id="progressGallaryPhoto">
    <div class="progress-bar" id="progressbarGallaryPhoto">0%</div>
</div>
<script>
    $('#frmGallaryPhoto').click(function () {
        if ($(this).find('.input-validation-error').length == 0 && $(this).find('.valid').length > 0) {
            (function () {
                var bar = $('#progressbarGallaryPhoto');
                var percent = $('#progressbarGallaryPhoto');

                $('#frmGallaryPhoto').ajaxForm({
                    beforeSend: function () {
                        $("#btnGallaryPhoto").attr("disabled","disabled");
                        $("#progressGallaryPhoto").show();
                        $("#imgLoaderGallaryPhoto").show();

                        var percentValue = '0%';
                        bar.width(percentValue);
                        percent.html(percentValue);
                    },
                    uploadProgress: function (event, position, total, percentComplete) {
                        var percentValue = percentComplete + '%';
                        bar.width(percentValue);
                        percent.html(percentValue);
                    },
                    success: function (d) {
                        var percentValue = '100%';
                        bar.width(percentValue);
                        percent.html(percentValue);
                        if (d.length > 0) {
                            CallAfterSucessFullUpload(d);
                            alert('Gallary photo uploaded successfully.');
                            $("#btnGallaryPhoto").removeAttr("disabled");
                            $("#progressGallaryPhoto").hide();
                            $("#imgLoaderGallaryPhoto").hide();
                            $('#GallaryPhoto').val('');
                          
                         
                        }
                        else if (d == "0") {
                            alert('We are getting some issue uploading your cover photo.Please try after some time.');
                            $("#progressGallaryPhoto").hide();
                            $("#imgLoaderGallaryPhoto").hide();
                        }
                        else {
                            alert('We are getting some issue uploading your cover photo.Please try after some time.');
                            $("#progressGallaryPhoto").hide();
                            $("#imgLoaderGallaryPhoto").hide();
                        }
                    },
                    complete: function (xhr) {
                        //Do some thing after completion of request:-
                    }
                });
            })();
        }
    })

</script>

<script>
    function readURL1(input) {
        $("#divGallaryView").hide();
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('<img />').attr('src', e.target.result).appendTo("#divGallaryPreview");
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#GallaryPhoto").change(function () {
        $("#divGallaryView").hide();
        $("#divGallaryPreview").show();
        readURL1(this);
    });
    function ShowGallaryView() {
        $("#divGallaryView").show();
        $("#divGallaryPreview").hide();
        $("#GallaryPhoto").val('');
    }
    function CallAfterSucessFullUpload(fileList) {
        $("#divGallaryPreview").empty();
        $("#divGallaryPreview").hide();
        $("#divGallaryView").empty();
        $.each(fileList, function (index, file) {
            $('<img />').attr('src', "/UploadFile/PropertyGallary/" + file.ImageName).appendTo("#divGallaryView");
        });
        $("#divGallaryView").show();
    }
</script>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>