
<h4>Variable Pricing</h4>
<form class="form-part" method="post" action="profileform.php" name="profileform" id="profileform" autocomplete="off">
    <label class="sm-label">Start date</label>
    <input name="" class="" type="date" id="" size="12" title="" />
    <label class="sm-label">Stop date</label>
    <input name="" class="" type="date" id="" size="12" title="" />
    <label class="sm-label">Price</label>
    <input name="price" class="sm-input" type="text" id="bathrooms" size="12" title="" />
    <label class="sm-label">Description</label>
    <textarea></textarea>
    <div style="clear:both;"></div>
    <div class="input-wrapper clearfix">
        <input type="submit" class="send-btn" value="Update" id="" name="" />
        <input type="reset" class="send-btn" value="Cancel" id="" name="" />
    </div>
</form>