<h3>Property page appearance settings</h3>
<p class="sub-heading"><span class="error-msg">some error occured</span></p>

<div class="col-lg-9 col-md-9">
    <h5>Update cover photo</h5>
    <div class="property-cover-bg"></div>
    <p>Drag to adjust cover photo</p>
    <form class="form-part" method="post" action="" name="" id="" autocomplete="off">
        <input name="property-images" class="" type="file" id="id-document" size="12" title="" />
        <div class="input-wrapper clearfix">
            <input type="submit" class="send-btn" value="Update" id="" name="" />
            <input type="reset" class="send-btn" value="Cancel" id="" name="" />
        </div>
    </form>

    <div style="clear:both;"><br /><br /></div>
    <label>Add Property Images to gallery<span class="required">*</span></label>
    <div class="property-gallery"></div>
    <form class="form-part" method="post" action="" name="" id="" autocomplete="off">
        <input name="property-images" class="" type="file" id="id-document" size="12" title="" multiple />
        <div style="clear:both;"></div>
        <div class="input-wrapper clearfix">
            <input type="submit" class="send-btn" value="Update" id="" name="" />
            <input type="reset" class="send-btn" value="Cancel" id="" name="" />
        </div>
    </form>
</div>
