<h4>Fixed Pricing</h4>
<form class="form-part" method="post" action="profileform.php" name="profileform" id="profileform" autocomplete="off">
    <label class="sm-label">Select Currency</label>
    <select class="sm-input">
        <option value="0">select</option>
        <option value="">Indian Rupees</option>
        <option value="">Euro</option>
        <option value="">Doller</option>
        <option value="">Sterling Pound</option>
    </select>
    <label class="sm-label">Price per night</label>
    <input name="price" class="sm-input" type="text" id="" size="12" title="" />
    <label class="sm-label">Price per week</label>
    <input name="price" class="sm-input" type="text" id="" size="12" title="" />
    <label class="sm-label">Price per month</label>
    <input name="price" class="sm-input" type="text" id="" size="12" title="" />
    <label class="full-label">Cleaning Fee</label>
    <label class="sm-label">Daily</label>
    <input name="price" class="sm-input" type="text" id="" size="12" title="" />
    <label class="sm-label">Weekly</label>
    <input name="price" class="sm-input" type="text" id="" size="12" title="" />
    <label class="sm-label">Montly</label>
    <input name="price" class="sm-input" type="text" id="" size="12" title="" />
    <label class="sm-label">One time</label>
    <input name="price" class="sm-input" type="text" id="" size="12" title="" />
    <label class="sm-label">Other fee</label>
    <textarea></textarea>
    <div style="clear:both;"></div>
    <div class="input-wrapper clearfix">
        <input type="submit" class="send-btn" value="Update" id="" name="" />
        <input type="reset" class="send-btn" value="Cancel" id="" name="" />
    </div>
</form>
