
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section header-section dark">
    <div class="overlay"><img class="property-cover" src="~/Images/bg1.jpg" /></div>
    <div class="container clearfix">
        <div class="col-lg-6 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1>Don't just visit. <span style="color:#f06eaa">Belong.</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section2 bordered">
    <div class="container clearfix">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>About us</h2>
                <div class="head-underline-s"> </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <!--<h4>Velvett Homestays. Don’t Just Visit. Belong.</h4>-->

                <p>Don’t just travel. Stay. Stay till you know the place, the locals, the nooks and the corners where you can go and escape just for a while.</p>

                <p>
                    The Travelogists at Velvett Homestays handpick the homes we list. Personally curated to the tee we make sure the quality and standards are what
                    you would want in your holiday home for the quick break or an extended stay. Perfect for getaways where you go about your daily life,
                    but away from the daily hustle bustle. Your Homestay will give you a chance to live your dream, be it working remotely by the beach,
                    cooking your favourite meals at leisure, going for nature walks or simply to begin writing that blog you’ve always wanted to.
                </p>

                <p>
                    Born from the sheer joy of a travel crazy couple, who found enrichment in living authentically on their journeys versus the clinical hotel rooms
                    - Velvett Homestays works to give you a base for a complete local experience during your travels. Currently we have a select set of Homestays on the
                    Konkan belt from Mumbai to Goa as well as on the stunning Mediterranean Coast of Spain. We work closely with the home owners to provide you with an
                    enriching stay true to the destination and what it has to offer. From offbeat activities, local events, shows, food joints, bars and cafés, you will get to
                    experience the true essence of the place. This also allows you to connect with the people of the area and delve deeper into their culture, lifestyles and habitats.
                </p>

                <p>
                    During our journey we realized the dire need of a travel community that endorses responsible and sustainable travel. We feel that global resources are finite and
                    need to be used with respect so as to preserve and conserve. Payment for a resource does not entitle its user to waste a resource.  As travellers we must respect the
                    core cultures and traditions of the places we travel to. This approach will ensure continued accessibility of destinations for our fellow explorers and continued opportunities
                    for local communities to thrive.
                </p>
                <p>
                    We invite you to join us in creating this community and spreading the love of travel.
                </p>
                <p><br /></p>
                <p class="text-right">
                    Your Travelogists
                </p>
            </div>
        </div>
    </div>
</section>
