
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section header-section dark bg-image-2">
    <div class="overlay"></div>
    <div class="container clearfix centered">
        <div class="col-lg-8 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1>Peekskill</h1>
                    <p class="uppercase">Digital Photography</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container clearfix padding-10">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="icons winner"></div>
            <div class="next-to-icon">
                <h4>Award winning</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
            </div>
            <div class="icons chat"></div>
            <div class="next-to-icon">
                <h4>Reach us anytime</h4>
                <ul class="unordered-list">
                    <li>Lorem ipsum dolor sit amet, consectetur</li>
                    <li>Vestibulum id ligula felis euismod.</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="icons adjust"></div>
            <div class="next-to-icon">
                <h4>Adjustable</h4>
                <ol>
                    <li>Lorem ipsum dolor sit amet, consectetur</li>
                    <li>Vestibulum id ligula felis euismod.</li>
                </ol>
            </div>
            <div class="icons team"></div>
            <div class="next-to-icon">
                <h4>We go the extra mile</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="icons pig"></div>
            <div class="next-to-icon">
                <h4>Forseable costs</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper.</p>
            </div>
            <div class="icons time"></div>
            <div class="next-to-icon">
                <h4>We work fast</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper.</p>
            </div>
        </div>
    </div>
</section>
<section class="section dark bg-image-3 grey-xs">
    <div class="overlay"></div>
    <div class="container clearfix centered">
        <div class="col-lg-12">
            <h2 class="header">Meet the Nerds</h2>
            <p class="uppercase">Dreamteam</p>
            <div class="break"></div>
        </div>
    </div>
    <div class="container clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="image-wrapper3"><img alt="" src="images/about10.jpg" /> </div>
            <div class="bordered-content more-info centered">
                <h4>John Doe</h4>
                <p class="small">Founder / Owner</p>
                <div class="borderline"></div>
                <ul class="social-list clearfix">
                    <li> <a href="#"><i class="fa fa-pinterest-p"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-soundcloud"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="image-wrapper3"><img alt="" src="images/about11.jpg" /> </div>
            <div class="bordered-content more-info centered">
                <h4>Tobias Smith</h4>
                <p class="small">Co-Founder</p>
                <div class="borderline"></div>
                <ul class="social-list clearfix">
                    <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-dribbble"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-xing"></i></a> </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="image-wrapper3"><img alt="" src="images/about12.jpg" /> </div>
            <div class="bordered-content more-info centered">
                <h4>Mark Anthony</h4>
                <p class="small">Coder</p>
                <div class="borderline"></div>
                <ul class="social-list clearfix">
                    <li> <a href="#"><i class="fa fa-500px"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-google-plus"></i></a> </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="bordered-content more-info centered">
                <p class="large above-button">Interested in joining us?</p>
                <div class="borderline"></div>
                <h5>Lead Designer</h5>
                <p class="small">San Francisco</p>
                <div class="tiny-break"></div>
                <a href="contact.html" class="button"><i class="fa fa-bullhorn"></i> Apply</a>
            </div>
        </div>
        <div class="tiny-break"></div>
    </div>
</section>
<section class="section bordered">
    <div class="container clearfix">
        <div class="col-lg-12 centered">
            <div class="clear"></div>
            <div class="client"><img alt="" src="images/logo09.png" /></div>
            <div class="client"><img alt="" src="images/logo02.png" /></div>
            <div class="client"><img alt="" src="images/logo04.png" /></div>
            <div class="client"><img alt="" src="images/logo03.png" /></div>
            <div class="client"><img alt="" src="images/logo06.png" /></div>
            <div class="client"><img alt="" src="images/logo01.png" /></div>
            <div class="clear"></div>
        </div>
    </div>
</section>

