
@{
    ViewBag.Title = "Comingsoon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section header-section dark">
    <div class="overlay"><img class="property-cover" src="~/Images/bg1.jpg" /></div>
    <div class="container clearfix">
        <div class="col-lg-6 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1>Don't just visit. <span style="color:#f06eaa">Belong.</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section2 bordered">
    <div class="container-fluid clearfix">
        <div class="row">
            <div class="col-lg-12 col-md-12  centered aligncenter min-h300">
                <h2>Coming soon...</h2>
            </div>
        </div>
    </div>
</section>

