
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.magnific-popup.min.js"></script>
<div id="container" class="clearfix no-margin">
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            @*<a class="simple-ajax-popup" href="~/ajax/project.html" data-title="">*@
                <figure class="images"><img src="~/Images/photography/1.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Beachside</h2>
                                <p class="uppercase">Goa</p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark">
        <div class="margin-wrapper">
            @*<a class="simple-ajax-popup" href="ajax/slider.html" data-title="">*@
                <figure class="images"> <img src="~/Images/photography/16.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Farm house</h2>
                                <p class="uppercase">Karjat</p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            @*<a class="simple-ajax-popup" href="ajax/video.html" data-title="">*@
                <figure class="images"> <img src="~/Images/photography/2.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Villa</h2>
                                <p class="uppercase">Alibag</p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            @*<a class="simple-ajax-popup" href="ajax/project.html" data-title="">*@
                <figure class="images"> <img src="~/Images/photography/33.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Hot Deals</h2>
                                <p class="uppercase"></p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            @*<a class="simple-ajax-popup" href="~/Images/project.html" data-title="">*@
                <figure class="images"> <img src="~/Images/photography/6.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Best Rated</h2>
                                <p class="uppercase"></p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home norway">
        <div class="margin-wrapper">
            @*<a class="simple-ajax-popup" href="~/Images/project.html" data-title="">*@
                <figure class="images"> <img src="~/Images/photography/Garden1.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Travel Reviews</h2>
                                <p class="uppercase">Travel Ambassador Reviews</p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home denmark">
        <div class="margin-wrapper">
            @*<a class="simple-ajax-popup" href="~/Images/project.html" data-title="">*@
                <figure class="images"> <img src="~/Images/photography/nature07.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Travel Beats</h2>
                                <p class="uppercase">Best Travel Videos</p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            @*<a href="~/Images/photography/nature06.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup">*@
                <figure class="images"> <img src="~/Images/photography/nature06.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Lightbox</h2>
                                <p class="uppercase">Sweden</p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>
    <div class="element  clearfix col-lg-4 col-md-6 col-sm-6 col-xs-12 home sweden">
        <div class="margin-wrapper">
            @*<a href="~/Images/photography/nature10.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup">*@
                <figure class="images"> <img src="~/Images/photography/nature10.jpg" alt="" /> </figure>
                <div class="covering-image centered">
                    <div class="info-box-content">
                        <div class="parent">
                            <div class="child">
                                <h2>Loads <i>of</i> Fish</h2>
                                <p class="uppercase">Sweden</p>
                            </div>
                        </div>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>

</div>

