
@{
    ViewBag.Title = "Term & Conditions";
}

<section class="section header-section dark">
    <div class="overlay"><img class="property-cover" src="/images/bg1.jpg"></div>
    <div class="container clearfix">
        <div class="col-lg-6 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1>Don't just visit. <span style="color:#f06eaa">Belong.</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section2 bordered">
    <div class="container clearfix">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Terms and Conditions</h2>
                <div class="head-underline-s"> </div>
            </div>
            <div class="col-lg-12 col-md-12 text-justify">

                <p>
                    This website www.velvetthomestays.com ("Website") is exclusively used and managed by Velvett Homestays.
                </p>

                <p>
                    Velvett Homestays is a sole proprietorship in India whose registered office is at 2nd Floor, 106, Vikas Centre, S.V. Road, Santacruz West, Mumbai, Maharashtra 400054.
                </p>

                <p>
                    These Terms and Conditions (“T&amp;Cs”) are issued by Velvett Homestays.
                    These T&amp;Cs are available only in English and applies to the entire contents of this Website and to any correspondence by email between us and a visitor (“you”).
                </p>

                <p>
                    The following constitutes a legal agreement (“Agreement”) between you and us with respect to our Website service, the terms of which are set out below.
                    Please read these terms carefully before using this Website. Please do not access this Website if you do not accept or agree (or cannot comply with) any of these terms.
                </p>

                <p>
                    When registering on our Website or booking a property from our Website, by checking the box indicating your acceptance of this Agreement, you represent that (i) you have read, understood and agree to be bound by this Agreement and
                    (ii) you are at least 18 years old, either entering into this Agreement for yourself or entering into it on behalf of your child or a child in your legal care.
                    If you are a parent or guardian entering this Agreement for the benefit of your child, please be aware that you are fully responsible for his or her use of this Website,
                    including all legal liability that he or she may incur. Each registration is for a single user only. We do not permit you to share your user name with any other person nor with multiple
                    users on a network. Responsibility for the security of any passwords issued rests with you.  If you do not agree to (or cannot comply with) any of these terms and conditions, do not check
                    the acceptance box when registering on our website or purchasing a product and do not attempt to access the Website.
                </p>
                <p>
                    Our Website is established to enable you to choose and book Homestays from our Website ("Homestays”) that we offer for booking online.
                </p>

                <h4>
                    Accessing the Website
                </h4>
                <p>
                    Website access is permitted on a temporary basis, and we reserve the right to withdraw or modify the service we provide on our Website without prior notice (see below).
                    We will not be held liable if, for any reason, our Website is unavailable at any instance or for any time period.
                </p>
                <p>
                    We may occasionally restrict access to certain parts of our Website, or to our entire Website.
                </p>

                <h4>Terms &amp; Conditions for Booking Homestays through our Website</h4>
                <p>
                    1. Our Website service allows you to book Homestays from this Website. These bookings can be made and are permissible strictly pursuant to the T&amp;Cs as given below.
                </p>
                <p>
                    2. Your booking constitutes an offer to us to book a Homestay. After placing a booking, you will receive an email from our customer service. This email is a booking confirmation (“Booking Confirmation”) to notify you that we have received and accepted your order.
                    The Booking Confirmation email will also entail a receipt.
                </p>
                <p>
                    2.1 If you notice an error in the Booking Confirmation, you must inform us by telephone (+912266934950) not later than 12.00 noon the day after the booking has been done by you.
                </p>
                <p>
                    2.2 If you wish to cancel your booking, you must inform us as soon as possible. Cancellation charges will be applicable as per the booked Homestay cancellation/refund policy.
                </p>
                <p>
                    2.3 Your booking cannot be processed until the full payment for the same has been received by us at which time a legally binding agreement on the T&amp;Cs set out herein will become applicable.
                </p>
                <p>
                    2.4 In the event that you are allergic to certain ingredients, you must notify us either by telephone or email at the time you book or by specifying these details while checking out via our online portal.
                    We will not be liable for any allergic reactions that might arise by staying at the Homestay booked.
                </p>

                <h4>3. Price &amp; Payment</h4>
                <p>
                    3.1 The charges to be paid by you for the bookings will be as mentioned on our Website, except in cases of error.
                    We are under no obligation to provide the booking to you at the incorrect price, even after we have sent you a receipt.
                </p>
                <p>
                    3.2 Our Homestay charges include taxes as applicable and the same will be added to the total amount due before completion of your order.
                </p>
                <p>
                    3.3 Charges are subject to change at any time, but will not affect the charges on bookings for which we have already issued a receipt.
                </p>
                <p>
                    3.4 Our Website contains a large number of  Homestays and it is possible that some of the Homestays listed on our Website may be erroneously priced.
                    We will generally verify prices as part of our booking Confirmation procedures, so that in the event wherein a Homestay's correct price is less than our stated price,
                    we will charge the lower amount. If a Homestay's correct price is higher than the price stated on our website, or we are no longer able to supply a particular Homestay,
                    we will contact you by email to obtain your approval that the revised price is acceptable.
                </p>
                <p>
                    3.5 Payment for all Homestays must be made by credit or debit card and those accepted by us are listed on our Website. We will send you an invoice upon receipt of payment.
                </p>
                <p>
                    3.6 All credit/debit cardholders are subject to validation checks and authorization by the card issuer. If your card issuer refuses, or does not, authorize payment to us, whether in advance of or subsequent to a payment,
                    we will not be responsible for any delay or non-delivery of the Products purchased.
                </p>

                <h4>4. Availability</h4>
                <p>
                    4.1 The Homestay booked can only be utilized on the dates booked by you. In case of cancellation by you the cancellation/refund policy of that Homestay will be applicable.
                </p>

                <h4>5. Cancellation/Refund Policy</h4>
                <p>
                    5.1 Each Homestay will have their own cancellation/refund policy.
                </p>
                <p>
                    5.2 Your cancellation/refund will be governed by the cancellation/refund policy of the Homestay you have booked.
                </p>
                <p>
                    5.3 We have made every effort to display as accurately as possible the properties/homestays listed on our website.
                    However, the actual property/homestay at times might be different in some aspects than listed with us.
                </p>
                <p>
                    5.4 The provisions of this clause do not affect your statutory rights.
                </p>

                <h4>6. Our Right to vary these Terms &amp; Conditions</h4>
                <p>
                    6.1 We reserve the right to revise and amend these T&amp;Cs from time to time, for instance, to reflect changes in market conditions affecting our business, changes in technology, changes in payment methods,
                    changes in relevant laws and regulatory requirements and changes in our system's capabilities.
                </p>
                <p>
                    6.2 You will be subject to the policies and T&amp;Cs in force at the time that you book a Homestay from us, unless any change to those policies or these Terms and Conditions is required to be made by law or governmental authority (in which case it will apply to orders previously placed by you),
                    or if we notify you of the change to those policies or these T&amp;Cs before we send you the receipt (in which case we have the right to assume that you have accepted the changed T&amp;Cs).
                </p>
                <h4>
                    YOUR AGREEMENTS<br>
                    YOU AGREE that: -
                </h4>
                <p>
                    6.3 It is your responsibility to provide accurate personal information ("Personal Data") and to update your Personal Data as necessary to keep it accurate. You undertake that all the details you provide to us for the purpose of booking the Homestay to you are correct and that the credit card or
                    debit card that you propose to use is your own or that of a third party who has given you full permission and authority to use it and that you or such third party have sufficient funds to meet the costs of Homestay ordered.
                    We will not store your credit card or debit card details anywhere on the Website.
                </p>
                <p>
                    6.4 It is your responsibility to ensure that your email address is active, otherwise certain functions of the Website will not be available to you. We will only use your Personal Data in accordance with the Indian Contract Act, 1872, the Information Technology Act, 2000 and the Personal Data
                    (Protection) Bill, 2013 and the relevant rules under these legislations; and our Privacy Policy.
                </p>
                <p>
                    6.5 It is your responsibility to maintain the confidentiality and security of your Personal Data especially your user name. You will not allow others to use your user name and you will notify us immediately of any unauthorized use of your user name. We shall not be responsible for any losses arising out of
                    the unauthorized use of your user name and you agree to indemnify and hold us harmless, for any improper, unauthorized or illegal uses of the same.
                </p>
                <p>
                    6.6 Other than personally identifiable information, which is covered under the Privacy Policy, any material you transmit or post to this Website shall be considered non-confidential and non-proprietary. We have no obligations with respect to such material. We are free to copy, disclose, distribute, incorporate and otherwise use such material and all data,
                    images, sounds, text and other things embodied therein for any and all commercial or non-commercial purposes.
                </p>
                <p>
                    6.7 You are prohibited from posting or transmitting to or from this Website any material: (a) that is threatening, defamatory, obscene, indecent, seditious, offensive, pornographic, abusive, liable to incite racial hatred, discriminatory, menacing, scandalous, inflammatory, blasphemous, deceives or misleads addressee regarding the origin of the message, impersonating, in breach of confidence, in breach of privacy or which may cause annoyance or inconvenience or relates or encourages money laundering or gambling;
                    or (b) for which you have not obtained all necessary licenses and/or approvals; or (c) which constitutes or encourages conduct that would be considered a criminal offence, give rise to civil liability, or otherwise be contrary to the law of or infringe the rights of any third party, in India or any other country in the world; or (d) which is technically harmful (including, without limitation, computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data); or (e) harm minors in any way; or (f) which is threatening the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign states,
                    or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.
                </p>
                <p>
                    6.8 You may not misuse the Website (including, without limitation, by hacking).
                </p>
                <p>
                    6.9 We reserve the right to fully co-operate with any law enforcement authorities or court order requesting or directing us to disclose the identity or locate anyone posting any material in breach of clause
                    6.7 or clause 6.8, or any other laws in force in India.
                </p>
                <p>
                    6.10 We shall be entitled to withdraw from any booking made by you if the Homestay is inaccurately described on the Website or where obvious errors have been made.
                </p>
                <p>
                    6.11 While we utilize anti-virus protections, it is your obligation to ensure that any use you make of our website is free of any virus, Trojan horse, worm or any other items of a destructive nature. We are not responsible for any damages that result
                    from you accessing the website (including any software or systems you use to access the website).
                </p>
                <p>
                    6.12 You will not attempt or permit or encourage others to attempt to copy or make use of any intellectual property appearing on our website for any
                    commercial use or in any manner which would constitute an infringement of our copyright.
                </p>
                <p>
                    6.13 Variation in computer, browser and operation will create differences in visual layout and usability of the website.
                    We have given due care and attention to minimizing these differences, but cannot be held responsible for specific operational differences.
                </p>

                <h4>7. System Requirements</h4>
                <p>
                    The computer, Internet access and system operated by you and your ability to use the same may affect your ability to purchase any Products from our Website. You acknowledge and agree that any system requirements necessary to preview,
                    and/or view and/or book any Homestay from our Website are your responsibility.
                </p>

                <h4>8. Misuse of the Website</h4>
                <p>
                    8.1 We reserve the right to suspend or terminate your access to the Website or parts of it, if at our sole discretion we believe you are in breach of any provision of this Agreement. If your access has been suspended or terminated you will not be permitted to re-register
                    or to re-access the Website without our prior consent.
                </p>
                <p>
                    8.2 You will only use the Website for the purposes referred to in this Agreement and not access the Website or use information gathered from it to send unsolicited emails.
                </p>

                <h4>9. Indemnity</h4>
                <p>
                    You agree to indemnify and hold harmless us, our proprietor, our directors, employees and consultants from and against any and all claims, losses, demands, causes of action and judgments (including solicitors' or attorneys' fees and court costs) arising from or concerning any breach by you of this Agreement and/or these Terms and Conditions for your
                    use of the website and you agree to reimburse us on demand for any losses, costs or expenses we incur as a result thereof.
                </p>

                <h4>10. Assignment</h4>
                <p>
                    10.1 You may not transfer or otherwise deal with your rights and/or obligations under these T&amp;Cs.
                </p>
                <p>
                    10.2 We may sub-contract, transfer or otherwise deal with our rights and/or obligations under these T&amp;Cs in whole or in part.
                </p>

                <h4>11. General</h4>
                <p>
                    11.1 We may require you to change your user name or any other information which permits you access to book Homestays from the Website.
                </p>
                <p>
                    11.2 We have the right to withdraw any Homestay from the Website for any reason without notice to you and you agree that we will not be responsible for any loss, damage or cost
                    as a result of such unavailability.
                </p>
                <p>
                    11.3 Our liability for losses you suffer as a result of us breaking this Agreement is strictly limited to the purchase price of the Homestay you booked.
                </p>
                <p>
                    11.4 We will not be liable for errors or omissions on the Website nor for loss or damage suffered by you as a result of any unavailability of the website or by any use by you or reliance placed on the website or its contents including any damage caused to your computer or otherwise howsoever, or any direct,
                    indirect or consequential loss or loss of data.
                </p>
                <p>
                    11.5 We shall not be liable to you for the failure of any equipment, data processing system or transmission link and will not be liable to you as a result of any down-time
                    which may occur upon the Website.
                </p>
                <p>
                    11.6 The Website is provided "as is" and you acknowledge that despite our reasonable endeavors the website may contain bugs, errors and other problems (including, but not by way of limitation) infection by viruses (despite anti-virus protections which may be incorporated) or anything else which may cause contamination or destruction of any sort that may cause system failures. Notwithstanding,
                    we will use all reasonable endeavors to correct any errors and omissions as quickly as practicable after being notified by email to velvetthomestays@vikasgroup.com
                </p>
                <p>
                    11.7 We shall not be responsible to you for damages or otherwise in respect of any error made to any listing of or reference to Homestays.
                </p>
                <p>
                    11.8 We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently the Website (or any part thereof) without notice to you and without any liability to you
                    or to any third party.
                </p>
                <p>
                    11.9 We reserve the right to deactivate your account if it has not been active for a period of 12 months or more, and to remove it from the database if no communication has been received from you for a further
                    3 months after deactivation has occurred.
                </p>
                <p>
                    11.10 Links to third party websites on the Website are provided solely for your convenience. If you use these links, you leave the website. We have not reviewed all of these third party websites and do not control and are not responsible for these websites or their content or availability. We therefore do not endorse or make any representations about them, or any material found there, or any results that may be obtained from using them.
                    If you decide to access any of the third party websites linked to the Website, you do so entirely at your own risk.
                </p>
                <p>
                    11.11 We welcome 'hot links' to the Website, but not 'deep linking' by which we mean that you may not include a link to our Website, or display the contents of our Website, surrounded or
                    framed or otherwise surrounded by content not originating from us without our consent. If you would like to link to this Website, you may only do so on the basis that you link to,
                    but do not replicate, the home page of this Website, and subject to the following conditions: (a) you do not remove, distort or otherwise alter the size or appearance of the
                    Velvett Homestays logo or any other trade mark or logo of Velvett Homestays which appears on this website; (b) you do not create a frame or any other browser or border environment around
                    this website; (c) you do not in any way imply that we are endorsing any Homestay or services other than our own; (d) you do not misrepresent your relationship with us nor present any
                    other false information about us; (e) you do not otherwise use any Velvett Homestays trademarks displayed on this Website without express written permission from us; (f) you do not
                    link from a website that is not owned by you; and (g) your website does not contain content that is distasteful, offensive or controversial, infringes any intellectual property rights
                    or other rights of any other person, or otherwise does not comply with all applicable laws and regulations. Any unauthorized framing of or linking to the Website will be investigated,
                    and appropriate legal action will be taken, including without limitation, civil, criminal, and injunctive redress and may result in the termination of this Agreement or other remedies as set out in this Agreement.
                </p>
                <p>
                    11.12 It is the responsibility of advertisers and sponsors on this Website to ensure that any content submitted by them for inclusion on the website complies with applicable laws and regulations and we shall not be responsible for or
                    liable to any extent for any error or inaccuracy which may appear in such content.
                </p>
                <p>
                    11.13 We reserve the right to revoke the right granted in paragraph 12.11 for breach of these terms and to take any action we deems appropriate.
                </p>
                <p>
                    11.14 You shall fully indemnify us for any loss or damage suffered by us for breach of paragraph 12.11.
                </p>

                <h4>12. Intellectual Property Right</h4>
                <p>
                    12.1 All intellectual property content on the Website including, without limitation trademarks, button icons, logos, graphics and images is owned by us and is protected by Indian Copyright Act, 1957 (and its relevant rules).
                    Your use of them is governed by this Agreement, certain end-user license agreements and applicable law.
                </p>
                <p>
                    12.2 You will infringe our rights if you copy or reproduce any part of the Website save for:
                </p>
                <ul>
                    <li>12.2.1 a temporary copy of any part of the Website which is automatically made or retained by your browser as you browse the website; or</li>
                    <li>12.2.2 you printing out any pages from the Website as a record of any Products you have purchased from it; or</li>
                    <li>12.2.3 you printing out a copy of the T&amp;Cs which we would request you to do; or</li>
                    <li>
                        12.2.4 your own personal use provided that:
                        <ul>
                            <li>12.2.4.1 no documents or related graphics on the Website are modified in any way;</li>
                            <li>12.2.4.2 no graphics on the Website are used separately from the corresponding text; and</li>
                            <li>12.2.4.3 our copyright and trademark notices and this permission notice appear in all copies.</li>
                            <li>Other than for the above four exceptions you must not copy the intellectual property in question for any purpose.</li>
                        </ul>
                    </li>
                </ul>
                <p>
                    12.3 For the purposes of this clause, "copy" and "copying" shall include non-literal copying as well as the copying of the structure and form of the Website and any elements within it.
                </p>

                <h4>13. Disclaimers</h4>
                <p>
                    13.1 To the extent that in a particular circumstance any disclaimer or limitation on damages or liability set out in this Agreement is prohibited by any law which is applicable, then, instead of the provisions hereof in such particular circumstance, we shall be entitled to the maximum disclaimers and/or limitations on damages and liability available at law or in
                    equity by such applicable law and in no event shall such damages or liability exceed a thousand Indian rupees (INR 1000).
                </p>
                <p><b>Concerning the Website:</b></p>
                <p>
                    13.2 You understand and agree that your use of the website is at your own sole risk. The website is provided "as is" and without warranty by us, and, to the maximum extent allowed by applicable law, we expressly disclaim all warranties, express or implied including, but not limited to, implied warranties of merchantability and fitness for a particular purpose, and any warranty of non-infringement. We do not warrant, guarantee, or make any representations regarding the use or the results of the use of the Website with respect to performance, accuracy, reliability, security capability or otherwise. We are not liable for any damages that result from you accessing (including any software or systems you use to access) the website service or using the Website including, but not limited to, infection by virus, damage to any computer, software or systems or portable devices you use to access the same.
                    No oral or written information or advice given by any person shall create a warranty or a representation from us.
                </p>
                <p>
                    13.3 We make no warranty that any particular device or software you use will be compatible with this website.
                    It is your sole responsibility to ensure that your system(s) will function correctly with this Website.
                </p>
                <p>
                    13.4 Under no circumstances shall we be liable for any unauthorized use of the website or the Homestay.
                </p>
                <p>
                    13.5 Under no circumstances shall we be liable to you for any direct, indirect, consequential, incidental or special damages arising out of your use of or inability to use the Website,
                    even if we have been advised of the possibility of such damages.
                </p>
                <p>
                    13.6 We, any other party (whether or not involved in creating, producing, maintaining or delivering this website), and any of our group companies and the proprietor, officers, directors, employees, shareholders or agents of any of them, exclude all liability and responsibility for any amount or kind of loss or damage that may result to you or a third party (including, without limitation, any direct, indirect, punitive or consequential loss or damages, or any loss of income, profits, goodwill, data, contracts, use of money, or loss or damages arising from or connected in any way to business interruption,
                    and whether in tort (including without limitation negligence, contract or otherwise) in connection with this Website in any way or in connection with the use, inability to use or the results of use of this Website, any websites linked to this Website or the material on such websites, including but not limited to loss or damage due to viruses that may infect your computer equipment, software,
                    data or other property on account of your access to, use of, or browsing this website or your downloading of any material from this Website or any Websites linked to this Website.
                </p>

                <h4>14. Third Party Rights</h4>
                <p>
                    This Agreement is only for the benefit of you and us and no other person can claim a benefit from this Agreement by virtue of the Indian Contract Act, 1872.
                </p>

                <h4>15. Law &amp; Legal Notices</h4>
                <p>
                    This Agreement and any other terms or documents referred to herein represent your entire agreement with us with respect to your use of this Website. If any part of this Agreement is held invalid or unenforceable, that portion shall be construed in a manner consistent with the applicable law to reflect,
                    as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect. Indian law governs this Agreement and your use of the Website, and you expressly agree that the Mumbai courts shall have exclusive jurisdiction over any claim or dispute between us
                    or relating in any way to your account or your use of this Website.
                </p>

                <h4>16. Acknowledgements</h4>
                <p>
                    You acknowledge that we may change the terms of this Agreement by posting a new Agreement on the Website. You acknowledge that it is your responsibility to check the Website regularly to ascertain if changes have been made and your continued use of the Website after such a change will constitute your acceptance of the changes.
                    By reading this Agreement together with our Privacy Policy and continuing to use this Website you acknowledge that you have read, understood and agree to be bound by the T&amp;Cs of this Agreement and by our Privacy Policy both of which are available from every page of our Website.
                </p>

                <p><br></p>

            </div>
        </div>
    </div>
</section>
