
@{
    ViewBag.Title = "TCBooking";
}
<section class="section header-section dark">
    <div class="overlay"><img class="property-cover" src="/images/bg1.jpg"></div>
    <div class="container clearfix">
        <div class="col-lg-6 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1>Don't just visit. <span style="color:#f06eaa">Belong.</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section2 bordered">
    <div class="container clearfix">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Booking Request - Terms and Conditions</h2>
                <div class="head-underline-s"> </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <p>1.	I and all members of my party shall use the Apartment/Villa/Flat booked by me for residential purpose only.</p>
                <p>
                    2.	I further hereby agree and confirm that in case of any breakages, damages, loss to existing fittings / fixtures and i shall make good the damage of every kind whatsoever caused by
                    me or any member of my party to the said Apartment/Villa/Flat or any part thereof or to the furniture &amp; fixtures or anything forming part of the said  Apartment/Villa/Flat or external
                    surface of the Apartment/Villa/Flat, irrespective of whether the damage caused is willful or accidental
                </p>

                <p>3.	I or a member of my party shall not bring, keep or store any hazardous and / or inflammable goods or articles in the said Apartment/Villa/Flat.</p>

                <p>
                    4.	I or a member of my party shall not keep any pets in the said Apartment/Villa/Flat unless expressly permitted by the owner.
                </p>
                <p>
                    5.	 I or a member of my party shall not commit or carry on any illegal activities in the said Apartment/Villa/Flat.
                </p>
                <p>
                    6.	I or a member of my party shall not cause nuisance or annoyance to to the other occupants / neighbours.
                </p>
                <p>
                    7.	I or a member of my party shall not bring upon, keep, store any illegal substance, article, explosives, dangerous obnoxious or harmful substances which are prohibited in law or which could endanger the security and safety of the Apartment/Villa/Flat or cause annoyance,
                    irritation, harm, injury or other adverse effects on any of the occupants of the adjoining flats.
                </p>
                <p>
                    8.	I declare that I am aware that this agreement does not create any right title to or in the Apartment/Villa/Flat save and except a limited right to use and enjoy the Apartment/Villa/Flat during the term of my stay.
                </p>
                <p>
                    9.	VELVETT HOMESTAYS cannot accept responsibility for unforeseen circumstances beyond their control. These include (but are not limited to) Power Failure, water shortage, adverse weather conditions, fire, riot, war, terrorist activity
                    (or threat of such activity), industrial dispute, natural disaster, or injuries and death of an individual(s) through accidental circumstances unconnected with the Apartments/Flats/villas.
                </p>
                <p>
                    10.	By making a booking I am accepting responsibility for any damage or loss caused by myself or a member of my party. Full payment for any such damage or loss will be paid to the Apartments/Flats/villas owner or manager on demand. If I fail to do so, I will be responsible for
                    meeting any claims subsequently made (together with your and the other party's full legal costs) as a result of my actions.
                </p>
                <p>
                    11.	By making a booking I am confirming that I am authorised to do so on behalf of all persons named in the booking and I am acknowledging that all members of my party agree to be bound by these Booking Terms &amp; Conditions.
                </p>
                <p>
                    12.	When my booking has been made a confirmation can be sent by you by email using the email address that I have supplied, or by post. I understand that booking confirmations are subject to the availability of accommodation at the
                    Apartments/Flats/villas.
                </p>
                <p>
                    13.	I understand that Government Photo Id (for eg. Driving License, Pan Card , Voter ID , aadhar card )and Govt address proof (For eg AADHAR CARD, VOTER ID , PASSPORT ) will need to be submitted and Credit or debit card details will be required when I make my booking.
                    I am aware that full payment  will be taken at the time of booking for the entire stay period. VELVETT HOMESTAYS reserve the right to increase or decrease the price of unsold stays at any time.
                    The price of my chosen break will be confirmed when my booking is made and, with the exception of any errors, VELVETT HOMESTAYS will not increase this price once it has been confirmed.
                    VELVETT HOMESTAYS reserves the right to correct any errors in advertised and confirmed prices and will do so as soon as VELVETT HOMESTAYS becomes aware of an error.
                    VELVETT HOMESTAYS will notify me of any price discrepancies relating to my booking should they arise, but VELVETT HOMESTAYS have strongly advised me to check that the final price of my booking is correct before making my final confirmation.
                </p>
                <p>
                    14.	On receipt of written confirmation the prices quoted and confirmed in writing by the Apartments/Flats/villas remain fixed except for any alterations in the Government rates of taxation and/or duty such as VAT, for which VELVETT HOMESTAYS reserve the right to alter pricing to take account of any variation.
                </p>
                <p>
                    15.	In the unlikely event that a Apartments/Flats/villas is unable to accommodate a confirmed reservation it may be necessary to offer an alternative of an equal or a superior standard. If at any time VELVETT HOMESTAYS needs to make changes that will significantly affect my stay or VELVETT HOMESTAYS need to cancel my stay, VELVETT HOMESTAYS will tell me as soon as possible, offering a suitable alternative or a refund. This does not apply to minor changes or events during my stay, resulting from unusual or unforeseeable circumstances beyond your control.
                    I understand that the decision of VELVETT HOMESTAYS will be final and binding in this matter.
                </p>
                <p>
                    16.	VELVETT HOMESTAYS cannot be held responsible for cancelling my booking as a result of my failure to comply with any requirement of the Booking Terms &amp; Conditions, and VELVETT HOMESTAYS cannot be held liable for any expenses, costs or losses incurred by me as a result of any change or cancellation.
                </p>
                <p>
                    17.	If a guest or a member of my party behaves in a way that causes or is likely to cause danger, upset or distress to a third party or to Apartments/Flats/villas or guest property, VELVETT HOMESTAYS are entitled, without prior notice, to curtail the stay and request that the person(s) concerned leave the Apartments/Flats/villas.
                    No refunds or return travel arrangements will be made and VELVETT HOMESTAYS will not pay any expenses or costs incurred as a result of such a curtailment.
                </p>
                <p>
                    18.	Whereas VELVETT HOMESTAYS endeavours to ensure the information contained within this Website is as accurate as possible, there will inevitably be instances where information may be incorrect or out of date. It is always advisable to check specific details that may be relevant to my booking prior to making that booking. For example, information relating to regional or local attractions is intended for my general information and any changes to such attractions or facilities are beyond your control.
                    VELVETT HOMESTAYS reserve the right to amend or remove information at any time and do not accept responsibility for keeping copies of any amended or deleted information.
                </p>
                <p>
                    19.	 I accept when booking on the VELVETT HOMESTAYS booking platform that you act only as a gateway to allow me to book my accommodation as a 3rd party intermediary. As such, when a booking is confirmed I am entering into a licence agreement with the property host/owner and am subject to their terms and conditions.
                </p>
                <p>
                    20.	 Once a booking is confirmed through the VELVETT HOMESTAYS booking portal your responsibility and liability to my reservation ceases. While you strive to ensure all properties meet high standards, any disputes and complaints relating to the property provider will be between me ‘the guest’ and the property provider. I agree to indemnify VELVETT HOMESTAYS against any right of action or financial claim that may arise as a result of any potential disagreement.
                    My booking reservation is subject to the specific tax requirement of the relevant property
                </p>
                <p>
                    21.	 All guests are bound by the property owners own terms and conditions.
                </p>
                <p>
                    22.	Upon arrival at the property all guest should complete a flat/room inspection of the property. Any defects or claims of misadvertising should be report to the property owner immediately, at the latest within 24 hours of my arrival.
                    You will endeavour to provide options for relocation; however you will not be under legal obligation to do so.
                </p>
                <p>
                    23.	In the event of any cancellations, these will be subject to the property owners own terms and conditions. VELVETT HOMESTAYS will be under no legal obligation or have financial liability to return any deposit monies paid to secure the reservation under any circumstances.
                </p>
                <p>
                    24.	There may be exceptional circumstances in which a property owner may be required to relocate and or cancel my initial reservation ie. Floor and or overbooking level. The responsibility for relocation and or accommodation refund rests solely with the property owner and will be subject to their terms and conditions.
                    Initial payments processed by VELVETT HOMESTAYS are non-refundable in all circumstances.
                </p>
                <p>
                    25.	 Accommodation Changes In exceptional circumstances the property owner may find it necessary to cancel my booking or may provide you with alternative accommodation to an equivalent standard. If this is not possible, The property owner will potentially refund any sum I have paid, which shall constitute full and final settlement of any liability as a result of such cancellation.
                </p>

                <p><br></p>

            </div>
        </div>
    </div>
</section>
