@{
    ViewBag.Title = "Travelogy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section header-section dark">
    <div class="overlay"><img class="property-cover" src="/Images/bg2.jpg" /></div>
    <div class="container clearfix">
        <div class="col-lg-6 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1>Don't just visit. <span style="color:#f06eaa">Belong.</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="section2">
    <div class="container clearfix">
		<div class="row">
		<div class="col-lg-12 col-md-12">
			<h2>Travelogists</h2>
			<div class="head-underline-s"> </div>
		</div>
		<div class="col-lg-12 col-md-12">
			<p><br/></p>
			<p><img src="~/images/travelogists.png" /></p>
			<h5>[trav-uh-<strong>loj</strong>-ist]</h5>
			<p><i>noun</i></p>
			<p>has experienced dreams - come - true, magical travel moments</p>
			<p><br/></p>
			<p>We are more than bloggers and travel writers. We are a bunch of self-taught, self-proclaimed “travelogists.”  We are those that have had experiences you've read about on blogs or in fancy travel journals. We have discovered isolated beaches, attended local festivals, climbed mountain tops and have crossed rivers through luscious green forests.</p>
			<p>
			We want to share our magic formula and are hoping to gain some insights from you too. Spreading the excitement and joy of discovering a place versus simply visiting. We don't just visit. We belong.
			</p>
			<p><br/></p>
			<hr/>
		</div>				
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<img class="mng" src="~/images/mng2.jpg" alt="" />
			</div>
			<div class="col-md-8 mng-txt">
				<h3>Gouri & Mohit Gupta</h3>
				<p><img class="line-pc" src="/images/headline.jpg" alt="" /></p>

				<p class="text-justify">
				Ever since we got married, Gouri and I have taken every opportunity to travel to as many diverse places as we could. What travel means to us, however, is the pleasure we get from immersing ourselves into a new culture and a new way of life so we ourselves can broaden our own horizons. 
				So, although we have also enjoyed many touring holidays, the times spent in one location, in one small village, have held the happiest and most fulfilling times of our lives. It is when you get to know a place that you can truly feel at home and connected with the area and people you are visiting. By living in Homestays you get this new local experience that hotels rarely manage to fulfil. Imagine a place where you can reach out of your bedroom window to pick lemons growing wild outside. 
				A place like home where no one cares if you don't get dressed all day. Where freedom comes as part of the contract.
				</p>
				<p class="text-justify">
				We really wanted to share this passion with like-minded travellers which is why we set up Velvett Homestays. We have curated a select set of Homestays in the Konkan belt from Mumbai to Goa and also in Spain along the Mediterranean coast. 
				These are places we or one of our merry band of travelogists have vetted. In each case we can guide you to select the right Homestay for your visit and can guide you with local activities and experiences. We will also share with you our value of responsible travelling. 
				We understand that resources belong to the global community, and that they are finite and must be used responsibly. We also believe that respecting and supporting local cultures and traditions, is the way of preserving them and also the way to ensure that they thrive.
				</p>
				<p class="text-justify">
				It is our intention to share with you some of the beautiful experiences and memories we have created together.
				</p>
			</div>
		</div>
		<hr/>
		
		
	</div>
	</section>
			

  
<section>
<div class="container clearfix">
	<div class="row">
	<div class="panel-group" id="accordion">	
	
		<div class="panel panel-default col-md-4">
            <div class="panel-heading text-center">                                  
					<h4 class="text-center">
						Vandana Sood Rao		  
					</h4>
					<p><img class="line-pc" src="/images/headline.jpg" alt="" /></p>
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					<p class="image-wrapper3"><img src="/images/Travelogy/vandana2.jpg" alt="Travelogist" /> </p>
					</a>              
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="text-center">
					<p>Hi, I am Vandana, a travelogist at Velvett Homestays and I am in love with my means to earn a living.</p>
					<p>A hospitality professional, I always had a dormant travel bug which manifested itself in my youth.</p>
					<p>However, my idea of travelling is very organic. I look forward to experience the local culture, cuisine, dialect and attire. My dream is to dwell deep into the history of the place I visit.</p>
					<p>My belief is that when you experience a local touch, you tend to create better memories and that is what lasts for a life time.</p>
					<p>I want to be a resident of the world and my passport and temperament reflects that.</p>
					<p>I want to belong... Not just travel.</p>
					</div>
                </div>
            </div>
        </div>
        

		<div class="panel panel-default col-md-4">
            <div class="panel-heading text-center">                                  
					<h4 class="text-center">
						Alima Rahman		  
					</h4>
					<p><img class="line-pc" src="/images/headline.jpg" alt="" /></p>
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
					<p class="image-wrapper3"><img src="/images/Travelogy/alima.jpg" alt="Travelogist" /> </p>
					</a>              
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="text-center">
					<p>Hola Viajeros, my name is Alima Rahman.</p>
					<p>Born in the United Kingdom, raised in India through my teens and now maturing like a fine wine in Spain I have had the pleasure of living in 3 amazing countries, the pleasure of embracing 3 very different cultures through various stages of my life and the pleasure of getting to know what it is like to actually 'belong'.</p>
					<p>I have no intention of letting my travel journey end just yet, I believe that whether we are looking for a long term move, a short break or a 2 day pit stop 'that place', 'that image', ' that picture' that you see in the back of your mind really does exist! Don't hold back, go out there and look beyond the travel brochures and airline advertisements... you will find what you are looking for!</p>
					<p>Who knows, it may be closer than you expected!</p>
					</div>
                </div>
            </div>
        </div>


		<div class="panel panel-default col-md-4">
            <div class="panel-heading text-center">                                  
					<h4 class="text-center">
						Sagar Kasar		  
					</h4>
					<p><img class="line-pc" src="/images/headline.jpg" alt="" /></p>
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					<p class="image-wrapper3"><img src="/images/Travelogy/sagar2.jpg" alt="Travelogist" /> </p>
					</a>              
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="text-center">
					<p>Hi, I am Sagar.</p>
					<p>​One of the​ ​T​ravelogist​s​ at Velvett Homestays. My idea of travelling is to experience and ​create lifelong​​ ​memories all over the world. 
					I haven’t been everywhere, but it’s on my list.</p>
					<p>I don’t need magic to disappear all I need is a destination. I love the idea of experiencing​ local culture​s.​ ​
					D​iscovering ​the world ​​in this​ ​way ​enriches my life and adds value and​ those very special​ memories to​ ​my life.</p>
					<p>Walk your own path and be yourself.</p>
					<p>Collect moments and not things.</p>
					</div>
                </div>
            </div>
        </div>

		
        <div class="clearfix">&nbsp;</div>

		<div class="panel panel-default col-md-4">
		<div class="panel-heading text-center">                                  
					<h4 class="text-center">
						Jolynn D'souza		  
					</h4>
					<p><img class="line-pc" src="/images/headline.jpg" alt="" /></p>
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					<p class="image-wrapper3"><img src="/images/Travelogy/jd.jpg" alt="Travelogist" /></p>
					</a>              
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="text-center">
					<p><i>“Once a year, go some place you’ve never been before”.</i>
						<br/>- His Holiness The Dalai Lama
					</p>
					<p>Travel not only to vacation or un-wind, but to feed your mind, soul and body. Take in the various different things a place has to offer. 
					Fall in love with the roads, experience the local life, eat and drink the local cuisine….. and Belong to the place. For travelling makes you rich and happier!! </p>
					</div>
                </div>
            </div>
        </div>
		
		
		<div class="panel panel-default col-md-4">
			<div class="panel-heading text-center">                                  
					<h4 class="text-center">
						Varun Gupta		  
					</h4>
					<p><img class="line-pc" src="/images/headline.jpg" alt="" /></p>
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
					<p class="image-wrapper3"><img src="/images/Travelogy/vm.jpg" alt="Travelogist" /></p>
					</a>              
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="text-center">
					<p>One friend to another,</p>
					<p>A 20 year old student studying history of art.</p>
					<p>Lately most of my reasons to travel, are due to this new found love for scuba diving. Setting my reasons aside, I see this small world rather ginormous, in the number of experiences it has to offer. 
					I'd imagine 60 to 80 years is not enough to see it or taste it, smell it or even feel it all. So I've diverted my pursuits in trying to truly high-five, shake-hands and break bread in every part of this big, round ball of blue and green, only because I want to make the world my best friend.</p>
					<p>Travel because this world is growing at unfathomable speeds. Travel because it will light up homes and feed people. Travel because you will be wiser, because you will be more knowledgable. 
					Travel, forget the money, make the memories and the concept is a win-win situation. Travel because you will make new friends. Travel because your heart says yes!</p>
					<p>Go on subject yourself to the study, Travelogy in Spirit!</p>
					</div>
				</div>
			</div>
        </div>
		
		
		                    
        		

         <div class="clearfix">&nbsp;</div>  
                
    </div>
    </div>
</div>
		
</section>
  

