
@{
    ViewBag.Title = "Travelogy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section header-section dark">
    
    <div class="overlay"><img class="property-cover" src="~/Images/bg2.jpg" /></div>
    <div class="container clearfix">
        <div class="col-lg-6 centered aligncenter">
            <div class="centralizing-wrapper">
                <div class="centralized-content">
                    <h1>Don't just visit. <span style="color:#f06eaa">Belong.</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section2">
    <div class="container clearfix">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Travelogists</h2>
                <div class="head-underline-s"> </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <!--<h4>Velvett Homestays. Don’t Just Visit. Belong.</h4>-->

                <p>
                    We are them.
                </p>
                <p>
                    We are not bloggers, nor are we travel content writers. We are that travel happy duo that seem to have lived your travel dreams.
                    Had the experiences you've read about on blogs or fancy travel journals.
                </p>
                <p>
                    We are a bunch of self taught / self proclaimed travelogists. Ready to share our magic formula with you and hoping to gain some insights from you too.
                    Spreading the love and joy of assimilating into a place vs. simply visiting. We don't just travel, we cover grounds. We don't just visit. We belong.
                </p>
                <p><br /></p>
                <hr />
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container clearfix">
        <div class="row">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default col-md-4">
                    <div class="panel-heading text-center">
                        <h4 class="text-center">
                            Vandana Sood Rao
                        </h4>
                        <p><img class="line-pc" src="~/Images/headline.jpg" /></p>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <p class="image-wrapper3"><img src="~/Images/Travelogy/vandana2.jpg" /> </p>
                        </a>
                        
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="text-center">
                                <p>Hi, I am Vandana, a travelogist at Velvett Homestays and I am in love with my means to earn a living.</p>
                                <p>A hospitality professional, I always had a dormant travel bug which manifested itself in my youth.</p>
                                <p>However, my idea of travelling is very organic. I look forward to experience the local culture, cuisine, dialect and attire. My dream is to dwell deep into the history of the place I visit.</p>
                                <p>My belief is that when you experience a local touch, you tend to create better memories and that is what lasts for a life time.</p>
                                <p>I want to be a resident of the world and my passport and temperament reflects that.</p>
                                <p>I want to belong... Not just travel.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default col-md-4">
                    <div class="panel-heading text-center">
                        <h4 class="text-center">
                            Nikhil Umraliya
                        </h4>
                        <p><img class="line-pc" src="~/Images/headline.jpg" /></p>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <p class="image-wrapper3"><img src="~/Images/Travelogy/nikhil2.jpg" /></p>
                        </a>
                       
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="text-center">
                                <p>
                                    Hey there, I am Nikhil. One of the travelogists at Velvett Homestays. If travelling was free you would never see me again….ha-ha. On a serious note though,
                                    Travelling has always been a passion.
                                </p>
                                <p>Travelling to unknown destinations, discovering local experiences is my way of travelling. Travelling without any planning is my idea of travel, crazy but fun.</p>
                                <p>Stop thinking… Start Travelling…</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default col-md-4">
                    <div class="panel-heading text-center">
                        <h4 class="text-center">
                            Sagar Kasar
                        </h4>
                        <p><img class="line-pc" src="~/Images/headline.jpg" /></p>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <p class="image-wrapper3"><img src="~/Images/Travelogy/sagar2.jpg" /> </p>
                            
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="text-center">
                                <p>Hi, I am Sagar.</p>
                                <p>
                                    ​One of the​ ​T​ravelogist​s​ at Velvett Homestays. My idea of travelling is to experience and ​create lifelong​​ ​memories all over the world.
                                    I haven’t been everywhere, but it’s on my list.
                                </p>
                                <p>
                                    I don’t need magic to disappear all I need is a destination. I love the idea of experiencing​ local culture​s.
                                    D​iscovering ​the world ​​in this​ ​way ​enriches my life and adds value and​ those very special​ memories to​ ​my life.
                                </p>
                                <p>Walk your own path and be yourself.</p>
                                <p>Collect moments and not things.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
				
			<div class="panel panel-default col-md-4">
				<div class="panel-heading text-center">                                  
					<h4 class="text-center">
						Alima Rahman		  
					</h4>
					<p><img class="line-pc" src="/images/headline.jpg" alt="" /></p>
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
					<p class="image-wrapper3"><img src="/images/Travelogy/alima.jpg" alt="" /> </p>
					</a>              
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="text-center">
					<p>Hola Viajeros, my name is Alima Rahman.</p>
					<p>Born in the United Kingdom, raised in India through my teens and now maturing like a fine wine in Spain I have had the pleasure of living in 3 amazing countries, the pleasure of embracing 3 very different cultures through various stages of my life and the pleasure of getting to know what it is like to actually 'belong'.</p>
					<p>I have no intention of letting my travel journey end just yet, I believe that whether we are looking for a long term move, a short break or a 2 day pit stop 'that place', 'that image', ' that picture' that you see in the back of your mind really does exist! Don't hold back, go out there and look beyond the travel brochures and airline advertisements... you will find what you are looking for!</p>
					<p>Who knows, it may be closer than you expected!</p>
					</div>
                </div>
            </div>
        </div>
		                    
        		

         <div class="clearfix">&nbsp;</div>
            </div>
        </div>
    </div>

</section>

